.categories > h2 {
  margin: auto;
  width: fit-content;
  margin-bottom: 40px;
  color: #fff;
  font-size: 3.4vw;
}
.categories > h2 > span {
  font-size: 4vw;
  color: var(--SecoundryColor);
}
.Slider-Container {
  display: flex;
  width: fit-content;
}
.carousel-slider .item {
  border-radius: 5px;
  margin: 0 15px;
  width: 370px;
}
.carousel-slider .item .text-box > p:first-child {
  color: var(--light);
  font-weight: 900;
}
.carousel-slider .item img {
  width: 100%;
}
.carousel-slider .item a {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: var(--light);
  margin-top: 20px;
  text-decoration: none;
  background-color: var(--SecoundryColor);
  padding: 5px;
}
.carousel-slider .item a:hover {
  background-color: var(--light);
  color: var(--SecoundryColor);
}
.carousel-slider .item .text-box {
  border: 1px solid #404245;
  padding: 30px;
}
.carousel-slider .item .text-box section {
  color: var(--light);
  display: flex;
  justify-content: space-between;
}
.carousel-slider .item .text-box section .cont p {
  color: var(--light);
  margin: 0;
}
.carousel-slider .item .text-box section .cont:last-child p:last-child {
  font-weight: 900;
}
.carousel-slider {
  position: relative;
}
.categories {
  background-image: url(.././images/dark-bg.jpg);
  padding: var(--mainPadding);
}
.categories > div:first-of-type {
  display: grid;
  width: 100%;
  margin-bottom: 40px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px 15px;
  color: #fff;
  margin: 50px 60px;
}
.categories > div:first-of-type > div {
  display: flex;
  position: relative;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--mainColor);
  border-radius: 30px;
  overflow: visible;
  margin-bottom: 10px;
}
.categories > div:first-of-type > div p {
  z-index: 3;
  margin: 0 0 20px 0;
}
.categories > div:first-of-type > div > span:last-child {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: var(--SecoundryColor);
  bottom: -15px;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
}
.categories > div:first-of-type > div > span:last-child :not(object) {
  transition: 0.1s cubic-bezier(0, 2.84, 0.7, 1.71);
}
.categories > div:first-of-type > div > span:last-child:hover {
  background-color: var(--SecoundryColor);
  color: #fff;
}
.categories > div:first-of-type > div:hover {
  transform: translateY(-10px) scale(1.1);
}
.categories > div:first-of-type > div:hover > span:last-child {
  opacity: 1;
}
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-slider .item {
    border-radius: 5px;
    margin: 0 13px;
    width: 410px;
  }
}
@media (min-width: 413px) and (max-width: 767px) {
  .carousel-slider .item {
    border-radius: 5px;
    margin: 0 100px;
    width: 450px;
  }
}
@media (max-width: 412px) {
  .carousel-slider .item {
    border-radius: 5px;
    margin: 0 0px;
    width: 400px;
  }
}
.control {
  position: relative;
}
.control button {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
.control button:nth-child(1) {
  position: absolute;
  top: -254px;
  left: -9px;
  opacity: 0.3;
}
.control button:nth-child(2) {
  position: absolute;
  top: -254px;
  right: -9px;
  opacity: 0.3;
}
.control button:hover {
  opacity: 1;
}
