.createYourNFT {
  width: 100vw;
  background-image: url(../images/main-bg.jpg);
  background-size: cover;
  padding: 10px var(--mainPadding);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.createYourNFT > h2 {
  font-size: 3rem;
  text-align: center;
  padding-right: var(--mainPadding);
}
.createYourNFT > a {
  display: flex;
  margin: 10px auto;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
  height: 50px;
  cursor: pointer;
  width: 300px;
  border-radius: 2122px;
  background-color: var(--SecoundryColor);
}
.createYourNFT > a:hover {
  background-color: #fff;
  color: var(--SecoundryColor);
}
.createYourNFT > div {
  display: grid;
  gap: 10px;
  margin-top: 40px;

  grid-template-columns: repeat(2, 1fr);
}
.createYourNFT > div > div {
  display: flex;
  min-height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-height: 530px;
  margin-top: 20px;
}
.createYourNFT > div > div > img {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 50%;
}
.createYourNFT > div > div > p:first-of-type {
  font-size: 2.5rem;
  text-align: center;
}
.createYourNFT > div > div > p:last-of-type {
  font-size: 1.7rem;
  width: 80%;
  text-align: center;
}
@media (max-width: 786px) {
  .createYourNFT > div {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1440px) {
  .createYourNFT > div {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .createYourNFT > div p:first-of-type {
    font-size: 1.5rem;
  }
  .createYourNFT > div p:last-of-type {
    font-size: 1rem;
  }
}
