.createYourNFT {
  width: 100vw;
  background-image: url(../images/main-bg.jpg);
  background-size: cover;
  padding: 20px var(--mainPadding) 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.createYourNFT > h2 {
  font-size: 3rem;
  text-align: center;
  padding-right: var(--mainPadding);
}
.createYourNFT > a {
  display: flex;
  margin: 10px auto;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
  height: 50px;
  cursor: pointer;
  width: 300px;
  border-radius: 2122px;
  background-color: white;
  position: relative;
  color: var(--SecoundryColor);
}
.createYourNFT > a:hover {
  background-color: var(--SecoundryColor);
  color: #fff;
}
.createYourNFT > a::after{
  content: "";
  position: absolute;
  top: 0;
  right: -60px;
  width: 50px;
  height: 50px;
  transform: skew(20deg);
  -webkit-transform: skew(-35deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
  background-color: rgba(255, 255, 255, 0.527);
  transition: 0.8s 0.5s;
  -webkit-transition: 0.8s 0.5s;
  -moz-transition: 0.8s 0.5s;
  -ms-transition: 0.8s 0.5s;
  -o-transition: 0.8s 0.5s;
}
.createYourNFT>a:hover::after{
  animation: btn 0.8s 0.5s ease-out;
  -webkit-animation: btn 0.8s 0.5s ease-out;
}
@keyframes btn{
  0%{
right: -60px;
  }
  100%{
right: 335px;
  }
}
.createYourNFT > div {
  display: grid;
  gap: 10px;
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
}
.createYourNFT > div > div {
  display: flex;
  min-height: 200px;
  flex-direction: column;
  align-items:flex-start ;
  justify-content: space-evenly;
  max-height: 530px;
  margin-top: 20px;
}
.createYourNFT > div > div:nth-child(1),.createYourNFT>div>div:nth-child(2){
  border-right: 1px solid #ccc;
}
.createYourNFT > div > div > div {
  width:20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 10px solid #fff;
}
.createYourNFT > div > div > p:first-of-type {
  font-size: 1.7rem;
}
.createYourNFT > div > div > p:last-of-type {
  font-size: 1rem;
  width: 80%;
  line-height: 25px;
}
@media (max-width: 786px) {
  .createYourNFT > div {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1440px) {
  .createYourNFT > div {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .createYourNFT > div p:first-of-type {
    font-size: 1.5rem;
  }
  .createYourNFT > div p:last-of-type {
    font-size: 1rem;
  }
}
