/* Junked Code*/
.Slider-Container {
  display: flex;
  width: fit-content;

}











































.carousel-slider .item {
  border-radius: 5px;
  margin: 0 15px;
  width: 370px;
}
.carousel-slider .item .text-box > p:first-child {
  color: var(--light);
  font-weight: 900;
}
.carousel-slider .item a {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: var(--light);

  margin-top: 20px;
  text-decoration: none;
  background-color: var(--SecoundryColor);
  padding: 5px;
}
.carousel-slider .item a:hover {
  background-color: var(--light);
  color: var(--SecoundryColor);
}
.carousel-slider .item .text-box {
  border: 1px solid #404245;
  padding: 30px;
}
.carousel-slider .item .text-box section {
  color: var(--light);
  display: flex;
  justify-content: space-between;
}
.carousel-slider .item .text-box section .cont p {
  color: var(--light);
  margin: 0;
}
.carousel-slider .item .text-box section .cont:last-child p:last-child {
  font-weight: 900;
}
.carousel-slider {
  position: relative;
}
