/* Glopal */
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  overflow-x: clip;
  text-transform: capitalize;
}
/* Variables */
:root {
  --mainColor: #282b2f;
  --light: #fff;
  --mainPadding: 5%;
  --black: #000;
  --SecoundryColor: #7453fc;
}
/* ScrollToTop */
.ToTop {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: 0.3s ease-in-out;
  transform: translateY(200px);
  cursor: pointer;
  padding: 5px 10px;
  color: var(--light);
  border-radius: 1px;
  background-color: var(--SecoundryColor);
}
body {
  background-color: #000;
}
header ul {
  width: 70%;
}
header ul li {
  padding: 8px 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out all;
  color: var(--black);
  border-radius: 30px;
}
header ul li.active,
header ul li:hover {
  background-color: var(--SecoundryColor);
  color: var(--light);
}
a:hover {
  color: inherit;
}
header ul li a {
  transition: 0s;
  color: inherit;
  text-decoration: none;
}
header > ul {
  display: none;
}
header nav {
  padding: 20px;
  margin: 0 var(--mainPadding);
  height: 100px;
  border-radius: 50px;
  background-color: var(--light);
}
@media (max-width: 914px) {
  header nav {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
@media (max-width: 714px) {
  header ul {
    display: none !important;
  }
  header > ul {
    display: block !important;
    flex-direction: column;
    width: 100vw !important;
    position: fixed;
    border-radius: 0;
    background-color: var(--light);
    height: 100vh;
  }
  header > ul > li {
    border-radius: 0;
  }
}
