/* Glopal */
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  overflow-x: clip;
  text-transform: capitalize;
}
/* Variables */
:root {
  --mainColor: #282b2f;
  --light: #fff;
  --mainPadding: 5%;
  --black: #000;
  --SecoundryColor: #7453fc;
}
body {
  margin: 0;
}
/* ScrollToTop */
.ToTop {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  color: var(--light);
  transform: translateY(150%);
  border-radius: 4px;
  background-color: var(--SecoundryColor);
  cursor: pointer;
}
.ToTop.active {
  transform: translateY(0);
}
