header ul:not(.responsive) {
	width: 70%;
}
header {
	position: relative;
	height: 100px;
	width: 100%;
}
header ul:not(.responsive) {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}
header ul:not(.responsive) li {
	padding: 8px 10px;

	cursor: pointer;
	transition: 0.5s ease-in-out all;
	color: var(--black);
	border-radius: 30px;
}
header ul li.active,
header ul li:hover {
	background-color: var(--secondaryColor);
	color: var(--light);
}
header a:hover {
	color: inherit;
}
header ul li a {
	transition: 0s;
	color: inherit;
	text-decoration: none;
}
header ul.responsive {
	display: none !important;
}
header nav {
	z-index: 1000;
	position: relative;
	padding: 20px;
	margin: 0 var(--mainPadding);
	height: 100px;
	display: flex;
	justify-content: space-between;
	border-radius: 50px;
	background-color: var(--light);
}

@media (max-width: 914px) {
	header nav {
		width: 100%;
		margin: 0;
		position: fixed;
		border-radius: 0;
	}
}

@media (max-width: 714px) {
	header img {
		height: 90%;
	}
	header ul:not(.responsive) {
		display: none !important;
	}
	header .toggler {
		width: 40px;
		height: 50px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
	}
	header .toggler span {
		height: 4%;
		width: 90%;
		background-color: var(--secondaryColor);
	}
	header .toggler span:not(:nth-child(2)) {
		width: 60%;
	}
	header ul.responsive {
		display: flex !important;
		flex-direction: column;
		justify-content: space-between;
		width: 400px !important;
		position: fixed;
		top: -93px;
		left: 50%;
		margin: 0;
		z-index: 999;
		transform: translateX(-50%);
		border-radius: 0;
		transition: 0.5s ease-in-out;
		padding: 0;
		background-color: var(--light);
	}
	header ul.responsive.active {
		top: 100px;
	}
	header .toggler.active span:nth-child(2) {
		transform: translateX(100%);
		opacity: 0;
	}
	header .toggler.active span:first-child {
		transform: translate(-2px, 12px) rotate(-45deg);
		width: 100%;
	}
	header .toggler.active span:last-child {
		transform: translate(-2px, -14px) rotate(45deg);
		width: 100%;
	}
	header ul.responsive li a {
		display: inline-block;
		width: -webkit-fill-available;
		height: -webkit-fill-available;
		width: fill-available;
		height: fill-available;
	}
	header ul.responsive li {
		border-radius: 0;
		cursor: pointer;
		padding: 10px;
		display: flex;
		align-items: center;
	}
}
@media (max-width: 420px) {
	header ul.responsive {
		max-width: 100vw;
	}
}
