section.Landing {
    background-image: url(../images/heading-bg.jpg);
    background-size: cover;
  }
  section.Landing .maincContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #fff;
  }
  section.Landing .maincContainer p:first-child {
    margin: 30px 0 5px;
    font-size: 1rem;
  }
  section.Landing .maincContainer p:last-of-type span:last-child {
    cursor: pointer;
  }
  section.Landing .maincContainer p:last-of-type span:first-child {
    color: var(--SecoundryColor);
  }
  section.Landing .maincContainer h2 {
    font-size: 2rem;
  }
  section.Landing .maincContainer .links {
    margin: 20px 0 50px;
    min-width: 310px;
    display: flex;
    width: 35%;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    max-width: 500px;
  }
  section.Landing .maincContainer .links a {
    padding: 10px 15px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 20px;
    margin: 10px auto;
    background-color: var(--SecoundryColor);
  }
  section.Landing .maincContainer .links a:hover {
    color: var(--SecoundryColor);
    background-color: #fff;
  }